@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/Lato-Thin.woff2) format('woff2'),
    url(./fonts/Lato-Thin.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Lato-Regular.woff2) format('woff2'),
    url(./fonts/Lato-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/Lato-Semibold.woff2) format('woff2'),
    url(./fonts/Lato-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/Lato-Bold.woff2) format('woff2'),
    url(./fonts/Lato-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./fonts/Lato-Black.woff2) format('woff2'),
    url(./fonts/Lato-Black.woff) format('woff');
}

/* Root */

.root {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background-color: #121920;
  position: relative;
}

.root::after {
  position: absolute;
  content: '';
  width: 100%;
  height: auto;
  min-height: 828px;
  background-image: linear-gradient(
      to right,
      rgba(18, 25, 32, 0.78),
      rgba(18, 25, 32, 0.78)
    ),
    linear-gradient(
      to right,
      rgba(211, 211, 211, 0.5),
      rgba(211, 211, 211, 0.5)
    ),
    url(/images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Container */

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

/* Logo */

.logo {
  width: 238px;
  height: 69px;
  background-image: url(./images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.logo_footer {
  opacity: 0.35;
}

/* Button Secondary */

.button-secondary {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #f8be4d;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.button-secondary_size_large {
  padding: 20px 23px 19px 23px;
}

.button-secondary_size_small {
  padding: 14px 43px;
}

.button-secondary:hover {
  color: #121920;
  background-color: #f8be4d;
}

/* Button Primary */

.button-primary {
  text-decoration: none;
  border: none;
  background-color: #f8be4d;
  border-radius: 5px;
  color: #121920;
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
  min-width: 278px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.button-primary:hover {
  background-color: #e0ad46;
}

/* Item */

.item {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.item_type_color-primary {
  color: #88939e;
}

.item_type_color-secondary {
  color: #fff;
}

.item_type_uppercase {
  text-transform: uppercase;
}

.item_type_font-weight-thin {
  font-weight: 300;
}

.item_type_font-weight-normal {
  font-weight: 400;
}

/* Form */

.form {
  max-width: 330px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 36px 26px 64px 26px;
  box-sizing: border-box;
}

.form__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 39px;
  text-align: center;
}

.form__input {
  border-radius: 5px;
  border: none;
  background-color: #3a434c;
  width: 278px;
  padding: 16px 19px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
}

.form__input:focus {
  outline: 1px solid #fff;
}

.form__input::placeholder {
  color: #88939e;
}

.form__input_type_margin_true {
  margin-bottom: 18px;
}

/* Title Section */

.title-section {
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

/* Phone */
.phone {
  display: inline-block;
  font-size: 22px;

  text-decoration: none;
  position: relative;
}

.phone_color_primary {
  color: #fff;
}

.phone_color_secondary {
  color: #61666b;
}

.phone_font-weight_primary {
  font-weight: 600;
}

.phone_font-weight_secondary {
  font-weight: 300;
}

.phone_icon_dark::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./images/icons/mobile-phone.svg);
}

.phone_icon_light::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./images/icons/mobile-phone-light.svg);
}

/* Header */

.header {
  position: relative;
  padding-top: 38px;
  padding-bottom: 77px;
  background: linear-gradient(
    180deg,
    rgba(18, 25, 32, 0.95) 0%,
    rgba(18, 25, 32, 0) 100%
  );
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.header__phone {
  margin-right: 17px;
}

/* Hero */

.hero {
  position: relative;
  min-height: 644px;
  padding-top: 75px;
  padding-bottom: 71px;
  margin-bottom: 75px;
  box-sizing: border-box;
}

.hero::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 184px;
  background-image: linear-gradient(
    180deg,
    rgba(18, 25, 32, 0) 0%,
    #121920 100%
  );
  left: 0;
  bottom: 30px;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.hero__text {
  margin-top: 60px;
  max-width: 599px;
  position: relative;
}

.hero__title {
  font-size: 64px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 42px;
  line-height: normal;
}

.hero__title_color_primary {
  color: #fff;
}

.hero__title_color_secondary {
  color: #f8be4d;
}

.hero__subtitle {
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 53px;
}

.hero__button-secondary {
  margin-bottom: 31px;
  display: inline-block;
}

.hero__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__item {
  position: relative;
  max-width: 385px;
  margin-bottom: 16px;
  padding-left: 35px;
  box-sizing: border-box;
}

.hero__item:last-child {
  margin-bottom: 0;
}

.hero__item::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 1px;
  background-color: #f8be4d;
  left: 0;
  top: 10px;
}

.hero__form {
  position: relative;
}

.hero__button-primary,
.premium__button-primary {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/* Service */

.service {
  padding-bottom: 27px;
}

.service__title {
  text-align: center;
  margin-bottom: 55px;
}

.service__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service__card {
  border-radius: 5px;
  border: 1px solid #1b242d;
  padding: 34px 24px;
  box-sizing: border-box;
  width: 240px;
  transition: all 300ms ease-in-out;
}

.service__icon {
  margin-bottom: 23px;
}

.service__card-title {
  max-width: 192px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 15px;
  transition: all 400ms ease-in;
}

.service__card-title_width_small {
  max-width: 116px;
}

.service__card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 192px;
}

.service__card-item {
  color: #88939e;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  transition: all 400ms ease-in;
}

.service__card-item:last-child {
  margin-bottom: 0;
}

.service__card svg {
  margin-bottom: 26px;
}

.service__card path {
  transition: all 500ms ease-in-out;
}

.service__card:hover {
  background-color: #f8be4d;
}

.service__card:hover path {
  fill: #121920;
}

.service__card:hover .service__card-title,
.service__card:hover .service__card-item {
  color: #121920;
}

/* Privilege */

.privilege {
  padding-top: 98px;
  padding-bottom: 82px;
  background-image: url(./images/section-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}

/* .privilege::after {
  position: absolute;
  content: '';
  width: 100%;
  height: auto;
  min-height: 828px;
  background-image: url(/images/section-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  top: 0;
  left: 0;
  z-index: -1;
} */

.privilege__title {
  margin-bottom: 100px;
  text-align: center;
}

.privilege__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.privilege__image-container,
.privilege__card-text {
  max-width: 420px;
}

.privilege__image-container {
  box-shadow: 0px 25px 15px 0px rgba(18, 25, 32, 0.35);
  position: relative;
}

.privilege__image-container::after,
.privilege__image-container::before {
  position: absolute;
  content: '';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #2a2f35;
  left: 50%;
  transform: translateX(-50%);
}

.privilege__image-container::after {
  width: 88%;
  height: 20px;
  opacity: 0.9;
  top: -20px;
}

.privilege__image-container::before {
  width: 78%;
  height: 18px;
  opacity: 0.7;
  top: -38px;
}

.privilege__image {
  width: 100%;
  height: auto;
  display: block;
}

.privilege__card-title {
  color: #f8be4d;
  font-size: 30px;
  font-weight: 700;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 30px;
}

.privilege__card-paragraph {
  color: #88939e;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
}

.privilege__card-paragraph_font-weight_bold {
  font-weight: 700;
}

.privilege__card-paragraph_color_secondary {
  color: #fff;
}

.privilege__subtitle {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 48px;
}

.privilege__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.privilege__input {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  width: 278px;
  height: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #3a434c;
  background-color: transparent;
  outline: none;
  padding-left: 34px;
  padding-right: 15px;
  box-sizing: border-box;
}

.privilege__input::placeholder {
  color: #88939e;
}

.privilege__input:focus {
  border-bottom: 1px solid #fff;
}

.privilege__input_type_name,
.privilege__input_type_phone {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 13px;
}

.privilege__input_type_name {
  background-image: url(./images/icons/profile.svg);
}

.privilege__input_type_phone {
  background-image: url(./images/icons/telephone-handle-silhouette.svg);
}

/* Support */

.support {
  padding-top: 82px;
  padding-bottom: 29px;
}

.support__title {
  text-align: center;
  margin-bottom: 63px;
}

.support__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.support__item {
  width: 240px;
  min-height: 400px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.support__image {
  width: 165px;
  height: 208px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin-bottom: 15px;
}

.support__image_size_large {
  width: 204px;
  object-position: center -13px;
}

.support__name {
  color: #1b242d;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 17px;
  max-width: 196px;
}

.support__description {
  max-width: 184px;
  color: #88939e;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 7px;
}

.support__phone,
.support__email {
  color: #121920;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  padding-left: 31px;
  margin-left: 24px;
  position: relative;
  align-self: flex-start;
  display: inline-block;
}

.support__phone {
  margin-top: auto;
  margin-bottom: 15px;
}

.support__phone::before,
.support__email::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  left: -2px;
  top: 0;
}

.support__phone::before {
  background-image: url(./images/icons/telephone-handle-silhouette.svg);
}

.support__email::before {
  background-image: url(./images/icons/at.svg);
}

/* Premium */

.premium {
  padding-top: 77px;
  padding-bottom: 106px;
  background-image: url(./images/section-bg.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.premium__title {
  margin-top: 31px;
  margin-bottom: 80px;
  text-align: center;
}

.premium__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 106px;
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.premium__item {
  max-width: 331px;
}

.premium__number {
  color: #232a32;
  font-size: 100px;
  font-weight: 900;
  line-height: normal;
  display: inline-block;
  position: relative;
  margin-bottom: 47px;
}

.premium__number::after {
  position: absolute;
  content: '';
  width: 36px;
  height: 2px;
  background-color: #f8be4d;
  left: 0;
  bottom: -6px;
}

.premium__description {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin: 0;
  max-width: 245px;
}

.premium__description::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

.premium__description_margin-left-large {
  padding-left: 92px;
}

.premium__description_margin-left-small {
  padding-left: 86px;
}

.premium__description_icon_paper::before {
  background-image: url(./images/icons/paper.svg);
}

.premium__description_icon_phone::before {
  background-image: url(./images/icons/smartphone.svg);
}

.premium__description_icon_support::before {
  background-image: url(./images/icons/support.svg);
}

.premium__description_size_small {
  max-width: 205px;
}

.premium__content {
  display: flex;
  justify-content: flex-end;
  gap: 210px;
  flex-wrap: wrap;
}

.premium__text {
  max-width: 330px;
}

.premium__image {
  width: 100%;
  display: block;
  margin-bottom: 51px;
}

.premium__content-form {
  margin-right: 20px;
}

.premium__form {
  position: relative;
}

.premium__form-title {
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 15px;
}

.premium__form-subtitle {
  color: #88939e;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 34px;
  max-width: 400px;
  padding-left: 20px;
  position: relative;
  box-sizing: border-box;
}

.premium__form-subtitle::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 44px;
  background-color: #f8be4d;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Footer */
.footer {
  padding-top: 29px;
  padding-bottom: 34px;
  background-color: #0d141b;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 57px;
}

.footer__phone {
  margin-right: 17px;
}

@media (max-width: 1096px) {
  .root::after {
    min-height: 826px;
  }
}

@media (max-width: 1006px) {
  .root::after {
    min-height: 798px;
  }

  .header__phone,
  .footer__phone {
    margin-left: 27px;
    margin-right: 0;
  }

  .hero {
    padding-top: 0;
  }

  .hero__container {
    justify-content: center;
  }

  .hero__text {
    margin-bottom: 30px;
  }

  .premium__content {
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 975px) {
  .root::after {
    min-height: 980px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 38px;
  }

  .hero__title {
    font-size: 54px;
    margin-bottom: 34px;
  }

  .hero__subtitle {
    font-size: 32px;
    margin-bottom: 44px;
    max-width: 320px;
  }

  .premium__form-title {
    text-align: center;
  }

  .premium__form {
    margin: 0 auto;
  }

  .premium__content-form {
    margin-right: 0;
  }
}

@media (max-width: 534px) {
  .root::after {
    min-height: 1034px;
  }

  .header__container,
  .footer__container {
    justify-content: center;
  }
}

@media (max-width: 509px) {
  .root::after {
    min-height: 1100px;
  }
}
